<div class="form"><%= semantic_form_for @article, :html => {
  :multipart => true } do |f| %>
  <%= hidden_field_tag :back, params[:back] %>
  <%= f.input :title %>
  <li id="article_author_input" class="error">
    <p class="inline-errors"><%= @article.errors['authorships.author_id'].first %></p>
  </li>
  <%= f.semantic_fields_for :authorships do |ref| %>
    <%= render 'articles/authorship_fields', :f => ref %>
  <% end %>
  <li><%= link_to_add_fields add(:author), f, :authorships %></li>
  <%= f.input :summarize %>
  <li id="article_keyword_input" class="error">
    <p class="inline-errors"><%= @article.errors['articles_keywords.keyword_id'].first %></p>
  </li>
  <%= f.semantic_fields_for :articles_keywords do |ref| %>
    <%= render 'articles/articles_keyword_fields', :f => ref %>
  <% end %>
  <li><%= link_to_add_fields add(:keyword), f, :articles_keywords %></li>
  <%= f.input :journal %>
  <%= f.input :year, :input_html => {:class => :number} %>
  <%= f.input :volume, :input_html => {:class => :number} %>
  <%= f.input :no, :label => :issue, :input_html => {:class => :number} %>
  <%= f.input :start_page, :input_html => {:class => :number} %>
  <%= f.input :end_page, :input_html => {:class => :number} %>
  <li id="file">
  <% if @article.pdf? %>
    <%= fetch_image(@article.pdf.url) %>
    <%= @article.pdf_name %>
  <% end %>
  </li>
  <%= f.input :pdf, :as => :file %>
  <%= f.hidden_field :pdf_cache %>
  <%= f.input :paper, :label => t(:print) %>
  <div class="clear"></div>
  <%= f.input :group, :collection => Group.where('memberships.user_id' => current_user.id).includes(:memberships), :label => t(:private) %>
  <div class="clear"></div>
  <%= f.semantic_fields_for :references do |ref| %>
    <%= ref.input :referenced_article_id, :label => t(:reference),
  :as => :select, :collection => @articles %>
    <%= ref.input :note, :input_html => { :class => :reference } %>
    <%= ref.input :no, :label => :number %>
  <% end %>
  <%= f.submit button_label, :class => :submit %>
<% end %>
<%= yield :article_links %>
</div>
<br/>

<a name="keyword"></a>
<h1><%= new(:keyword) %></h1>
<%= render "keywords/form", :article_page => true, :button_label => create(:keyword) %>
<br />

<a name="author"></a>
<h1><%= new(:author) %></h1>
<%= render "authors/form", :article_page => true, :button_label => create(:author) %>

<script>
<% if !@keyword.errors.empty? %>
  window.location = window.location.href + "#keyword";
<% elsif !@author.errors.empty? %>
  window.location = window.location.href + "#author";
<% end %>
</script>
