<% authors = "" %>
<% article.authors.each do |author| %>
  <% if author == ex %>
    <% authors += "<span class=\"exception\">"+author.straight_name+"</span>, " %>
  <% else %>
    <% authors += link_to( author.straight_name, author)+", " %>
  <% end %>
<% end %>
<span id="authors"><%= raw authors.sub(/,/, " (#{article.year})") %></span></span>
<i><%= article.title %></i>.
<%= attribute(article.journal, "JOURNAL")+", " unless article.no_journal? %>
<%= "vol. #{article.volume}, " unless article.volume_empty? %>
<%= "no. #{article.no}, " unless article.no_empty? %>
pp. <%= "#{attribute(article.start_page,
         'START-PAGE')}-#{attribute(article.end_page, 'END-PAGE')}," %>
<%= "(#{article.year})" %>
<% if article.file? && can?(:download, article) %>
  <%= link_to(fetch_image(article.pdf.url), download_article_path(article)) %>
<% end %>
<%= link_to t(:show), article %>
<%= link_to t(:edit), edit_article_path(article, :back => request.fullpath ) if can? :edit, article %>
