<% title pl(:article) %>
<div class="form">

<%= form_tag articles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :sort, options_for_select([[t('formtastic.labels.title'),'title'],[t(:author),['first_name','middle_names','last_name']],[t('formtastic.labels.year'),'year'],[t(:keyword),'keywords.name']], @sort) %>
    <%= submit_tag t(:search), :name => nil %>
  </p>
<% end %>
<br />

<table>
  <% @articles.each_with_index do |article,i| %>
    <tr>
      <td id="authors">
        <strong><%= i+1 %>.</strong>
        <%= render "short_reference", :article => article, :ex => nil %>
      <td/>
      <td><%= link_to(fetch_image(article.pdf.url), download_article_path(article)) unless article.no_file? %></td>
      <td><%= link_to t(:show), article %></td>
      <td><%= link_to t(:edit), edit_article_path(article) if can? :edit, article%></td>
      <td><%= link_to t(:del), article, :confirm => 'Are you sure?', :method => :delete if can? :destroy, article %></td>
    </tr>
  <% end %>
</table>
<br />
<%= will_paginate @articles %>

<div id="bottom_links"><%= link_to new(:article), new_article_path if can? :new, Article%></div>
</div>
