<div class="form"><% title @article.title %>
<p id="author">
  <strong><%= t(:author) %>:</strong>
  <% authors = "" %>
  <% @article.authorships.map(&:author).each do |author| %>
    <% authors += link_to(author.straight_name, author)+", " %>
  <% end %>
  <%= raw authors.sub(/, $/,'') %>
</p>
<p>
  <strong><%= t('formtastic.labels.summarize') %>:</strong>
  <%= @article.summarize %>
</p>
<p id="keywords">
  <strong><%= pl(:keyword) %>:</strong>
  <%= raw @article.keywords.map{|e| link_to e.name, e}.join(', ') %>
</p>
<p>
  <strong><%= t('formtastic.labels.journal') %>:</strong>
  <%= @article.journal %>
</p>
<p>
  <strong><%= t('formtastic.labels.volume') %>:</strong>
  <%= @article.volume %>
</p>
<p>
  <strong><%= t('formtastic.labels.issue') %>:</strong>
  <%= @article.no %>
</p>
<p>
  <strong><%= t(:pages) %>:</strong>
  <%= @article.start_page %>-<%= @article.end_page %>
</p>
<p id="file">
  <strong><%= t('formtastic.labels.pdf') %>:</strong>
  <% if @article.no_file? %>
    No
  <% elsif owner?(@article) || group_member?(@article) %>
    <%= link_to(fetch_image(@article.pdf.url), download_article_path(@article)) %>
  <% end %>
</p>
<p>
  <strong><%= t(:print) %>:</strong>
  <%= @article.paper ? "Yes" : "No" %>
</p>

<% unless @references.empty? %>
<br />
<div id="references">
  <strong><%= pl(:reference) %>:</strong>
  <ul>
  <% @references.each do |reference| %>
    <li>
      <strong><%= reference.no %>.</strong>
      <i><%= "\"#{reference.note}\"" %></i> - 
      <%= render "long_reference", :article => reference.referenced_article, :ex => nil %>
    </li>
  <% end  %>
  </ul>
</div>
<% end %>

<% unless @references_from.empty? %>
<br />
<div id="referenced_from">
  <strong><%= t(:referenced_from) %>:</strong>
  <ul>
  <% @references_from.each do |reference| %>
  <li>
    <strong><%= reference.no %>.</strong>
    <i><%= "\"#{reference.note}\"" %></i> - 
    <%= render "long_reference", :article => reference.article, :ex => nil %>
  </li>
  <% end  %>
  </ul>
</div>
<% end %>

<div id="bottom_links">
  <%= link_to t(:edit), edit_article_path(@article) if can? :edit, @article%>
  <% if ownership? @article %>
  | <%= link_to t(:delete), @article, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>
</div>
