<% title pl(:author) %>

<div class="form">
<table>
  <% for author in @authors %>
    <tr>
      <td><%= author.straight_name %></td>
      <td><%= link_to t(:show), author %></td>
      <td><%= link_to t(:edit), edit_author_path(author) %></td>
      <td><%= link_to t(:del), author, :confirm => sure?, :method => :delete %></td>
    </tr>
  <% end %>
</table>
<div id="bottom_links"><%= link_to new(:author), new_author_path %></div>
</div>

