<% title @author.straight_name %>

<div class="form">
<% unless @articles.empty? %>
<div id="articles">
  <strong>Articles:</strong>
  <ol>
  <% @articles.each do |article| %>
    <li><div><%= render "articles/short_reference", :article => article, :ex => @author %>
    <span id="links">
      <%= link_to(image_tag("pdf.jpeg"), article.pdf.url) unless article.no_pdf? %>
      <%= link_to t(:show), article %>
      <%= link_to t(:edit), edit_article_path(article, :back=>request.fullpath) if can? :edit, article %>
    </span></div></li>
  <% end %>    
  </ol>
</div>
<% end %>

<div id="bottom_links">
  <%= link_to t(:edit), edit_author_path(@author) if can? :edit, @author %> 
  <% if can? :destroy, @author %>
    | <%= link_to t(:delete), @author, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>
</div>
