<tr>
  <td><%= group.title %></td>
  <td><%= roles %></td>
  <td><%= link_to t(:show), group %></td>
  <% if can? :edit, group %>
    <td><%= link_to t(:edit), edit_group_path(group) %></td>
  <% end %>
  <% if can? :destroy, group %>
    <td><%= link_to t(:del), group, :confirm => sure?, :method => :delete %></td>  
  <% end %>
</tr>
