<% title @group.title %>

<div class="form">

<div id="facts">
<p>
  <strong><%= t(:leader) %>:</strong>
  <%= @group.leaders %>
</p>
<p>
  <strong><%= pl(:member) %>:</strong>
  <%= @group.members %>
</p>
</div>

<div id="invitation">
<%= form_tag @membership do %>
<ul>
  <li id="membership_user_id_input" class="error">
    <p class="inline-errors"><%= @membership.errors[:user_id].last %></p>
  </li>
  <li>
    <%= text_field_tag :invite, params[:invite] %>
    <%= hidden_field_tag :group_id, @group.id %>
    <%= submit_tag t(:invite), :class => :commit %>
  </li>
</ul>
<% end %>
</div>
<div class="clear"></div>

<div id="bottom_links">
  <%= link_to t(:edit), edit_group_path(@group) if can? :edit, @group %> 
  <% if can? :destroy, @group %>
    | <%= link_to t(:delete), @group, :confirm => sure?, :method => :delete %>
  <% end %>
</div>
</div>
