<div class="form">
<%= semantic_form_for @user do |f| %>
  <%= f.input :username, :input_html => {:class => :short} %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit t(:sign_up), :class => :submit %>
<% end %>
</div>
