<div class="form">
<%= semantic_form_for @keyword do |f| %>
  <%= f.input :name %>
  <%= f.submit :class => :submit %>
  <%= hidden_field_tag :article_id, @article.new_record? ? "nil" :
  @article.id if article_page %>
  <%= yield :link %>
<% end %>
</div>
